* {
    box-sizing: border-box;
}
html,
  body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  header img{
    width: 50px;
    height: 69px;
    padding-top: 30px;
  }
  header h1{
    background: black;
    margin: 0;
    color: white;
  }

.intro-text{
    font-size: 60px;
    margin-left: 10%;
    text-align: center;
    background: wheat;
    width: 80%;
    border: 2px solid black;
}

.box-satu{
    text-align: center;
    margin: auto;
    width: 83%;
    margin-bottom: 40%;
    display: inline-block;
    justify-content: space-between;
    margin-left: 112px;
    
}
.pilihan-a{
    margin: 0;
    background: #ffd3d3;
    flex-basis: 31%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 17px;
    margin-bottom: 40px;
    transition: 0.5s;
}
.pilihan-a h3{
  margin: 0;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 1000px){
  .box-satu{
    flex-direction: column;
    width: 86%;
    background-size: 20px;
    height: 550px;
    justify-content: space-between;
    margin-left: 60px;
  }


}

.member{
  font-family: 'Courier New', Courier, monospace;
    margin: 0;
    text-align: center;
    margin: 3px;
    font-size: 17px;
}
.member-1{
  font-family: 'Courier New', Courier, monospace;
    margin: 0;
    text-align: left;
    margin: 3px;
    margin-left: 13px;
    font-size: 17px;
}